.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.card {
  flex: 0 0 calc(25% - 16px); /* This ensures that each card takes up 25% of the container width minus the gap */
  border: 1px solid #e0e0e0;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
  
.card h2 {
  margin-top: 0;
}

.card a {
  display: inline-block;
  margin-top: 8px;
  color: #007bff;
  text-decoration: none;
}

.card a:hover {
  text-decoration: underline;
}

.btn {
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 1em;
  cursor: pointer;
}
